In [1]:
import pandas as pd

project name ;  Operational Presence

The Who does What Where is a core humanitarian dataset for coordination. This data contains operational presence of humanitarian partners in Somalia at Admin 2 level.

The Deyr rains (September-December) began in some parts of the country, according to the FAO-led Somalia Water and Land Information Management (SWALIM). Parts of the north eastern regions started to receive rains in mid-September and the last week of September also saw moderate rains in parts of the Gedo region in Jubaland.There is high risk of flooding along the Juba and Shabelle rivers given the onset of rains in Somalia and the Ethiopian highlands. Areas to watch along the Shabelle River include Beletweyne town and its environs where the river is currently near bank-full and other riverine towns in the Lower Shabelle region. Areas to watch along the Juba include Luuq and the mid-reaches of the river. The flood risk could be further exacerbated by weak river embankments and open river banks commonly seen in Somalia. New internal displacements has been increased from 11,000 families in August to 18,000 in September. Swift donor financial contributions to the Drought Impact Response Plan (DIRP) launched in May enabled aid agencies to scale up assistance currently reaching almost 2 million people per month in crisis and emergency phases of food insecurity.

In [5]:
mar_data = pd.read_csv('or_covid_datamar.csv')

In [6]:
mar_data.sample(1)

,CLUSTER,ORGANIZATION,IMPLEMENTING PARTNER,PROGRAMME NAME,ACTIVITY DESCRIPTION,DONOR,MODALITY,CONDITIONALITY\n,RESTRICTION\n,TRANSFER VALUE (USD)\n,...,X_COORD,Total # of INDIVIDUALS,# of HOUSEHOLDS,Women,Men,Girls,Boys,Additional Comments,Unnamed: 29,Unnamed: 30
13950,WASH,READO,READO,NaN,Shallow well REHAB,Emergency Reserve,NaN,NaN,NaN,NaN,...,43.4667,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
mar_data.shape

(15739, 31)

In [12]:
may_data = pd.read_excel('or_covid_datamay.xlsx')

In [13]:
may_data.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,If cash,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Conditionality,Restriction,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cluster,Organization,Implementing partner,Programme Name,Activity description,Activity type,Donor,Modality,Pre-requisite: Are there any activities or obl...,Utilization: What a transfer can be spent on a...,...,Households,Women,Men,Girls,Boys,Additional Comments,NaN,NaN,NaN,NaN
2,CCCM,ACTED,SADO,"Integrated WASH, Shelter, CCCM, Protection and...","CCCM response comprised of coordination, monit...",Both,OFDA,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CCCM,ACTED,NaN,Provision of Sustained CCCM Support for IDP Se...,"CCCM response comprised of coordination, capac...",Both,SHF,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CCCM,ACTED,NaN,Provision of Sustained CCCM Support for IDP Se...,"CCCM response comprised of coordination, capac...",Both,SHF,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN